.trening-theme {
  color: $color-text__2;
}
.trening-text {
  width: 45%;
  margin-right: 10%;
}
.trening-list {
  font-size: 18px;
}
.trening-pg {
  color: $color-text__2;
  font-size: 24px;
  font-weight: 600;
}
.color-text__2 {
  color: #3c3c41;
  font-weight: 600;
}
